body{
  font-family: "Montserrat";
}

/***************************************************************** estilos nav login **/
#menu-item-152 a::before {
  font: var(--fa-font-solid);
  content: "\f48b";
  margin-right: 10px;
}

#menu-item-144 a::before {
  font-family: "fontawesome";
  content: "\f007";
  margin-right: 10px;

}

.navLogin {
  padding-right: 30px
}

.navLogin .main-nav .menu-menu-login-container .menu {
  display: flex;
  justify-content: flex-end;

}

.navLogin .main-nav .menu-menu-login-container .menu .menu-item {
  font-size: 1.1em;
  margin: 10px 10px;
  font-weight: 400;
  text-decoration: none;
  color: #747474;
}
.navLogin .main-nav .menu-menu-login-container .menu .menu-item a{
  text-decoration: none;
  color: #747474;
}
.navLogin .main-nav .menu-menu-login-container .menu .menu-item a:hover{
  color: #404F9D;
}
.navLogin .main-nav .menu-menu-login-container .menu>.menu-item:before {
  content: '|';
  color: #cad5d5;
  display: inline-block;
  margin: 0 1em;

}

/*****************************************************************estilos para el header */

.navLogo {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLogo .logo {
  width: 30%;
  height: auto;
}

.navLogo .logo img {
  width: 50%;
  height: auto;
  margin-left: 30%;
}

.navLogo .buscador {
  width: 50%;
  margin-left: -5%;
}

.navLogo .navbar-carro {
  width: 20%;
}

.navLogo .navbar-carro a{
  color: #404f9d;
}
.navLogo .navbar-carro a:hover{
  color: #7F8FDE;
}
.navLogo .navbar-carro .cont-minicarro span {
  font-size: 1.5em;
  font-weight: 400;
}

.navLogo .navbar-carro .cont-minicarro::before {
  font: var(--fa-font-solid);
  content: "\f07a";
  margin-right: 10px;
  font-size: 2.2em;
  
}

.navLogo .navbar-carro .cont-minicarro span::before {
  content: 'Mi Carrito ( ';
}

.navLogo .navbar-carro .cont-minicarro span::after {
  content: ' )';
}

/************************************************** estilos para el buscador del widget ***************/
.buscador .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input,
.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input:hover,
.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input:focus {
  border-radius: 50px;
  border: 2px solid #404f9d;
  margin-left: 0%;
  width: 100%;
  height: 60px;
  font-size: 1.5rem;
  
}

.buscador .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit,
.dgwt-wcas-om-bar .dgwt-wcas-om-return {
  border-radius: 40px;
  margin-right: 0%;
  margin-top: 0%;
  width: 13%;
  height: 0;
  
}

.buscador .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit::before {
  border-color: transparent !important;
}

/************************************************** navegador principal *************/
.navPrincipal {
  width: 100%;
  background-color: #404f9d;
}

.navPrincipal .menu-menu-principal-container .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0%;
  font-size: 1.5rem;
  font-weight: 300;
}

.navPrincipal .menu-menu-principal-container .menu li {
  padding: 25px 30px;
}

.navPrincipal .menu-menu-principal-container .menu li:hover {
  background-color: #7891e3;
}

.navPrincipal .menu-menu-principal-container .menu a {
  color: #f6f6f6;
}

/*********************************************************************** footer ****************************************/
footer {
  width: 100%;
  height: 20vh;
  margin-top: 0%;
  background-color: #404f9d;
}

footer .contenedorBoletin {
  width: 100%;
  height: 15vh;
  background-color: #7f8fde;
}

footer .contenedorBoletin .datosBoletin {
  height: 15vh;
}

footer .contenedorBoletin .datosBoletin .contenedor-newsletter {
  height: 15vh;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

footer .contenedorBoletin .datosBoletin .contenedor-newsletter .widgettitle {
  width: 45%;
  font-size: 2rem;
  margin-left: 15%;
  color: white;
}

footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal {}

footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form {
  display: flex;
  align-items: center;
}

footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-email {
  width: 60%;
  height: 6vh;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 300em;
  padding: 20px;
}

footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-submit {
  width: 20%;
  height: 6vh;
  margin-left: -50px;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #7dcb61;
  cursor: pointer;
}
footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-submit:hover {

  background-color: #5d9848;
}
footer .ContenedorDatosEmperesa {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #404f9d;
  justify-content: space-between;
  align-items: center;
}

footer .ContenedorDatosEmperesa .datosEmperesa {
  width: 33.33%;
  /*background-color: orange;*/
}

footer .ContenedorDatosEmperesa .datosEmperesa .logo {
  width: 90%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  /*background-color: green;*/
}

footer .ContenedorDatosEmperesa .datosEmperesa .logo .img {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 20px;
  /*background:aqua;*/
}

footer .ContenedorDatosEmperesa .datosEmperesa .logo .img img {
  width: 100%;
}

footer .ContenedorDatosEmperesa .datosEmperesa .logo .descripcion {
  width: 80%;
  height: auto;
  margin: 0 auto;
  /*background-color: #004980;*/
}

footer .ContenedorDatosEmperesa .datosEmperesa .logo .descripcion p {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

footer .ContenedorDatosEmperesa .enlaces {
  width: 33.33%;
  /*background-color: #b98c3a;*/
}

footer .ContenedorDatosEmperesa .enlaces .datosEnlaces {
  width: 90%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  /*background-color: green;*/
  text-align: center;
}

footer .ContenedorDatosEmperesa .enlaces .datosEnlaces p {
  font-size: 3rem;
  margin-bottom: 30px;
}

footer .ContenedorDatosEmperesa .enlaces .datosEnlaces ul li {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 27px;
}
footer .ContenedorDatosEmperesa .enlaces .datosEnlaces ul li a {
  color: white;
}
footer .ContenedorDatosEmperesa .enlaces .datosEnlaces ul li a:hover {
  color: #7F8FDE;
}
footer .ContenedorDatosEmperesa .contacto {
  width: 33.33%;
  /*background-color: #6e4903;*/
}

footer .ContenedorDatosEmperesa .contacto .datosContacto {
  width: 90%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  /*background-color: green;*/
  text-align: center;
}

footer .ContenedorDatosEmperesa .contacto .datosContacto ul li {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 45px;
}

footer .ContenedorDatosEmperesa .contacto .datosContacto ul li a {
  color: white;
}
footer .ContenedorDatosEmperesa .contacto .datosContacto ul li a:hover {
  color: #7F8FDE;
}
footer .ContenedorDatosEmperesa .contacto .datosContacto ul .telefono a::before {
  font: var(--fa-font-solid);
  content: "\f095";
  margin-right: 10px;
}

footer .ContenedorDatosEmperesa .contacto .datosContacto ul .email a::before {
  font: var(--fa-font-solid);
  content: "\f0e0";
  margin-right: 10px;
}

footer .ContenedorDatosEmperesa .contacto .datosContacto ul .facebook a::before {
  font-family: "fontawesome";
  content: "\f09a";
  margin-right: 10px;

}

footer .ContenedorDatosEmperesa .contacto .datosContacto ul .instagram a::before {
  font-family: "fontawesome";
  content: "\f16d";
  margin-right: 10px;
}


footer .contenedorDerechos {
  width: 100%;
  padding: 20px 0;
  background-color: #e8e8e8;
}

footer .contenedorDerechos .datosDerechos {
  text-align: center;
}

footer .contenedorDerechos .datosDerechos p {
  font-size: 1.3rem;
  font-weight: 300;
}

/* medidas para el responsivio 

medidas escritorio
1920ÃƒÆ’Ã¢â‚¬â€1080 (escritorio grande): 
1440ÃƒÆ’Ã¢â‚¬â€900 (escritorio medio): 
1366ÃƒÆ’Ã¢â‚¬â€768 (escritorio medio): 
1024ÃƒÆ’Ã¢â‚¬â€768 (escritorio chico): 

medidas tabletas
768 (mÃƒÆ’Ã‚Â³vil grande):

medidas celular
425 (mÃƒÆ’Ã‚Â³vil grande):
375 (mÃƒÆ’Ã‚Â³vil medio):
320 (mÃƒÆ’Ã‚Â³vil pequeÃƒÆ’Ã‚Â±o):

*/
@media screen and (max-width: 1680px) {

  /**************************************** footer ***********************************/
  footer .contenedorBoletin .datosBoletin .contenedor-newsletter .widgettitle {
    margin-left: 10%;
    width: 50%;
  }

  footer .ContenedorDatosEmperesa .enlaces .datosEnlaces p {
    font-size: 2.4rem;
  }

  footer .ContenedorDatosEmperesa .enlaces .datosEnlaces ul li {
    font-size: 1.5rem;
  }

  footer .ContenedorDatosEmperesa .contacto .datosContacto ul li {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

}

@media screen and (max-width: 1440px) {

  

  /************************************************** nav logotipo ******************/
  .navLogo {
    height: 130px;
  }
  .navLogin .main-nav .menu-menu-login-container .menu .menu-item {
    font-size: .8em;
  }

  /************************************************** estilos para el buscador del widget ***************/
  .buscador .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input,
  .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input:hover,
  .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input:focus {
    height: 50px;
    font-size: .9rem;
  }

  .buscador .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit,
  .dgwt-wcas-om-bar .dgwt-wcas-om-return {
    width: 11%;
  }

  /********************************************************** carrito ****************************/
  .navLogo .navbar-carro .cont-minicarro span {
    font-size: 1.2em;
  }
  .navLogo .navbar-carro .cont-minicarro::before {
    font-size: 1.4em;
  }

  /******************************************************** menu de navegacion ***********************/
  nav .menu-menu-principal-container .menu li {
    padding: 17px 30px;
  }

  /************************************************** navegador principal *************/
  .navPrincipal .menu-menu-principal-container .menu {
    font-size: 1rem;
  }

  /**************************************** footer ***********************************/
  footer .contenedorBoletin .datosBoletin .contenedor-newsletter .widgettitle {
    margin-left: 15%;
    font-size: 1.5em;
  }

  footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-email {
    font-size: 1em;
  }

  footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-submit {
    font-size: 1.1em;
  }

  footer .ContenedorDatosEmperesa .enlaces .datosEnlaces ul li {
    font-size: 1.1rem;
  }

  footer .ContenedorDatosEmperesa .contacto .datosContacto ul li {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  footer .ContenedorDatosEmperesa .datosEmperesa .logo .img {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    /*background:aqua;*/
  }

  footer .ContenedorDatosEmperesa .datosEmperesa .logo .descripcion p {
    font-size: 1.1rem;
  }

  footer .contenedorDerechos .datosDerechos p {
    font-size: 1em;
  }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {

  /******************************* nav cuenta ****************/
  .navLogin .main-nav .menu-menu-login-container .menu .menu-item {
      font-size: .7em;
  }

  /************************************************** nav logotipo ******************/
  .navLogo {
    height: 100px;
  }

  .navLogo .logo {
    width: 30%;
    height: auto;
    margin-left: -10%;
    margin-right: 1%;
  }

  /************************************************** estilos para el buscador del widget ***************/
  .buscador .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input,
  .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input:hover,
  .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input:focus {
    margin-left: 8%;
    height: 38px;
  }

  .buscador .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit,
  .dgwt-wcas-om-bar .dgwt-wcas-om-return {
    margin-right: -8%;
  }

  /*************************************************** carrito ***************************************/
  .navLogo .navbar-carro {
      width: 24%;
  
  }
  .navLogo .navbar-carro .cont-minicarro::before {
      font-size: 1em;
    margin-left: 70px;
  }
  .navLogo .navbar-carro .cont-minicarro span {
      font-size: 1em;
  }

  /******************************************************** menu de navegacion ***********************/

  .navPrincipal .menu-menu-principal-container .menu {
      font-size: .8em;
  }

  /**************************************** footer ***********************************/
  footer .contenedorBoletin .datosBoletin .contenedor-newsletter .widgettitle {
    margin-left: 8%;
    font-size: 1.1rem;
  }

  footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-email {
    width: 60%;
    height: 6vh;
    margin-left: 5%;
    font-size: .8em;
  }

  footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-submit {
    font-size: .9em;
    height: 6.6vh;
  }

  footer .ContenedorDatosEmperesa .enlaces .datosEnlaces ul li {
    font-size: .8rem;
    margin-bottom: 18px;
  }
  footer .ContenedorDatosEmperesa .contacto .datosContacto {
      padding: 0px;
  }
  footer .ContenedorDatosEmperesa .contacto .datosContacto ul li {
    font-size: .8rem;
    margin-bottom: 27px;
  }

  footer .ContenedorDatosEmperesa .datosEmperesa .logo .descripcion p {
    font-size: .8rem;
  }

  footer .contenedorDerechos .datosDerechos p {
    font-size: .8rem;
  }
}

@media screen and (max-width: 768px) {
  /*************************************************************** buscador *********************/
  .navLogo {
      width: 100%;
      height: 90px;
      justify-content: space-between;
  }
  .navLogo .logo {
      width: 40%;
      margin-left: 30px;
      margin-right: 30px;
  }
  .navLogo .logo img {
      width: 100%;
      height: auto;
      margin-left: 0%;
  }
  .navLogo .navbar-carro {
      width: 60%;
  }
  .navLogo .navbar-carro .cont-minicarro::before {
    font-size: .8em;
  }
  .navLogo .navbar-carro .cont-minicarro span::before {
    content: 'Mi Carrito ( ';
    font-size: .8em;
}
  .navLogo .navbar-carro .cont-minicarro span::after {
    content: ' )';
    font-size: .8em;
    
}
  .navLogo .buscador {
      width: 100%;
  }

/************************************ boletin **********************/
  
footer .contenedorBoletin .datosBoletin .contenedor-newsletter .widgettitle {
  width: 50%;
  font-size: .9rem;
  margin-left: 7%;
}

footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-email {
  width: 70%;
  height: 5vh;
  font-size: .8rem;
  padding: 0px;
  padding-left: 10px;
 
}

footer .contenedorBoletin .datosBoletin .contenedor-newsletter .tnp-widget-minimal form .tnp-submit {
  width: 20%;
  height: 5vh;
  margin-left: -50px;
  font-size: .8rem;
}

}