* {
    margin: 0;
    padding: 0;
}

/******************************************************************************************* cupon **/
.woocommerce .woocommerce-form-coupon-toggle .woocommerce-info {
    margin: 0 auto;
    width: 70%;
    background: #7f8fde;
    border: none;
    border-radius: 50px;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 50px;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    content: "";
}

.woocommerce .woocommerce-form-coupon{
    padding: 0px;
    margin: 0 auto!important;
    border-radius: 20px!important;
    width: 50%!important;
    background: #ececec;
}
.woocommerce .woocommerce-form-coupon p{
     font-size: 1.7em;
    margin-bottom: 20px;
}
.woocommerce .woocommerce-form-coupon .form-row-first{
    width: 700px;
    height: 55px;

    padding: 0;
    
}
.woocommerce .woocommerce-form-coupon .form-row-first .input-text{
    width: 100%;
    height: 55px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #939393;
    padding-left: 10px;
}
.woocommerce .woocommerce-form-coupon .form-row-last{
    width: 250px;
    height: 50px;
    float: left;
    padding: 0;

}

.woocommerce .woocommerce-form-coupon .form-row-last .button{
    width: 100%;
    height: 55px;
    font-size: 1.5rem;
    border-radius: 0 10px 10px 0;
    background: #7dcb61;
    color: white;
    
}
/******************************************************************************************* formulario datos **/

/* contenedor formulario datos*/
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    float: left;
    width: 50%;
    padding: 40px;

}

/* contenedor formulario informacion adicional*/
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    float: left;
    width: 50%;
    padding: 40px;                  
}

/* titulo */
.woocommerce .woocommerce-checkout #customer_details .col-1 .woocommerce-billing-fields h3 {
    font-size: 2.5em;
    border-bottom: 5px solid #7f8fde;
}

.woocommerce .woocommerce-checkout #customer_details .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row label {
    font-size: 1.5em;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row .woocommerce-input-wrapper input {
    height: 50px;
    border-radius: 50px;
    border: 1px solid #939393;
    font-size: 1.5rem;
    padding-left: 20px;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row .woocommerce-input-wrapper .selection .select2-selection {
    height: 50px;
    border-radius: 50px;
    border: 1px solid #939393;
    font-size: 1.5rem;
    padding-left: 20px;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row .woocommerce-input-wrapper .selection .select2-selection .select2-selection__rendered {
    width: 90%;
    height: 30px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row .woocommerce-input-wrapper .selection .select2-selection .select2-selection__arrow {
    height: 35px;
    top: 7px;
    right: 20px;
    width: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 8px 10px 8px;
}


/******************************************************************************************* tu pedido **/

.woocommerce .woocommerce-checkout #order_review_heading {
    background: #ececec;
    width: 35%;
    height: 55px;
    float: right;
    padding: 10px 40px;
    margin-right: 40px;
    margin-top: -1570px;
    font-size: 2.5em;
    border-bottom: 5px solid #b5b5b5;
    border-radius: 10px 10px 0 0;

}

/* contenedor principal */
.woocommerce .woocommerce-checkout .woocommerce-checkout-review-order {
    background: #ececec;
    width: 35%;
    float: right;
    padding: 40px;
    margin-top: -1490px;
    margin-right: 40px;
    border-radius: 0 0 10px 10px;
}

/* tabla productos pedidos */
.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}

.woocommerce table.shop_table thead {
    font-size: 1.8em;
}

.woocommerce table.shop_table tbody {
    font-size: 1.5em;
}

.woocommerce table.shop_table tfoot {
    font-size: 1.8em;
}

.woocommerce .woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment .place-order .woocommerce-terms-and-conditions-wrapper .woocommerce-privacy-policy-text {
    font-size: 1.5em;
}

.woocommerce .woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment .place-order .button {
    margin-top: 50px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background: #7dcb61;
    font-size: 1.5em;
}

/*************************************************************************** INFORMACION ADICIONAL ****/

.woocommerce .woocommerce-checkout #customer_details .col-2 .woocommerce-additional-fields h3 {
    font-size: 2.5em;
    border-bottom: 5px solid #7f8fde;
    margin-bottom: 20px;
}

.woocommerce .woocommerce-checkout #customer_details .col-2 .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .form-row label {
    font-size: 1.5em;
}

.woocommerce .woocommerce-checkout #customer_details .col-2 .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .form-row .woocommerce-input-wrapper textarea {
    height: 300px;
    border-radius: 10px;
    border: 1px solid #939393;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-top: 20px;
}