* {
  margin: 0;
  padding: 0;
}

/******************************************************* inicio de sesion **/
section h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 3em;
}

.woocommerce #customer_login {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#customer_login::before {
  border-right: 1px solid #ddd;
  height: 100%;
  position: absolute;
  content: ' ';
  right: 50%;
  top: .7;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: 0px solid #d3ced2;
  padding: 10px;
  margin: 0em 0;
  text-align: left;
  border-radius: 0px;
}

.woocommerce #customer_login .u-column1 {
  margin-right: 5%;
}
.woocommerce #customer_login .u-column2 {
  margin-left: 5%;
}
.woocommerce #customer_login .u-column1 h2,
.woocommerce #customer_login .u-column2 h2 {
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 5px solid #7f8fde;
}

.woocommerce #customer_login .u-column1 .woocommerce-form-login {}

.woocommerce #customer_login .u-column1 .woocommerce-form-login label,
.woocommerce #customer_login .u-column2 .woocommerce-form-register label {
  font-size: 1.7em;
}

.woocommerce #customer_login .u-column1 .woocommerce-form-login .input-text,
.woocommerce #customer_login .u-column2 .woocommerce-form-register .input-text {
  height: 50px;
  border-radius: 50px;
  border: 1px solid #777777;
  font-size: 1.5rem;
  padding-left: 15px;

}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  position: absolute;
  right: 1em;
  top: .5em;
  cursor: pointer;
  font-size: 1.5em;
}

.woocommerce #customer_login .u-column1 .woocommerce-form-login .form-row .woocommerce-form-login__submit,
.woocommerce #customer_login .u-column2 .woocommerce-form-register .form-row .woocommerce-form-register__submit {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background: #404f9d;
  color: white;
  font-size: 1.5;
}

.woocommerce #customer_login .u-column1 .woocommerce-form-login .woocommerce-LostPassword {
  font-size: 1.5em;
}

.woocommerce #customer_login .u-column2 {
  /*background: aqua;*/
}

.woocommerce #customer_login .u-column2 .woocommerce-form-row .woocommerce-password-strength {
  font-size: 1.5em;
  width: 700px;
  margin-left: 55px;
  margin-top: 10px;
}

.woocommerce #customer_login .u-column2 .woocommerce-form-row .woocommerce-password-hint {
  font-size: 1em;
  width: 700px;
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.woocommerce #customer_login .u-column2 .woocommerce-form-register .woocommerce-privacy-policy-text {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

/******************************************************************************* errores ***********/

.woocommerce .woocommerce-notices-wrapper .woocommerce-error {
  font-size: 1.5em;
}

/******************************************************************************** panel de la cuenta **/

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
  content: "\f3fd";
  font: var(--fa-font-solid);
  float: right;
  margin-right: 15px;
  font-size: .9em;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
  content: "\f291";
  font: var(--fa-font-solid);
  float: right;
  margin-right: 15px;
  font-size: .9em;

}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
  content: "\f1c6";
  font: var(--fa-font-solid);
  float: right;
  margin-right: 15px;
  font-size: .9em;

}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
  content: "\f015";
  font: var(--fa-font-solid);
  float: right;
  margin-right: 15px;
  font-size: .9em;

}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
  content: "\f007";
  font: var(--fa-font-solid);
  float: right;
  margin-right: 15px;
  font-size: .9em;

}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
  content: "\f2f5";
  font: var(--fa-font-solid);
  float: right;
  margin-right: 15px;
  font-size: .9em;

}

section .woocommerce {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
}

/******************************************************************************** Contraseña perdida ***/
.woocommerce .lost_reset_password {
  width: 100%;

}

.woocommerce .lost_reset_password p {
  font-size: 1.8em;
}

.woocommerce .lost_reset_password .woocommerce-form-row label {
  font-weight: 900;
  font-size: .9em;
}

.woocommerce .lost_reset_password .woocommerce-form-row .woocommerce-Input {
  width: 600px;
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;
  font-size: .8em;
  border: 1px solid #929292;
}

.woocommerce .lost_reset_password .woocommerce-form-row .woocommerce-Button {
  background: #404f9d;
  color: white;
  font-size: .8em;
  border-radius: 50px;
  padding: 20px 50px;
}

/***********************************************************************************************************/
/* lateral de navegacion */
.woocommerce .woocommerce-MyAccount-navigation {

  position: relative;
  float: left;
  min-height: 1px;
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 30%;
}

.woocommerce .woocommerce-MyAccount-navigation ul {
  margin-left: 0;
  border-top: 1px solid #eceeef;
  padding-left: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li {
  list-style: none;
  border-bottom: 1px solid #eceeef;
  position: relative;
  font-size: 1.6em;
}

.woocommerce-MyAccount-navigation ul li a {
  padding: .857em 0;
  display: block;
  color: #333e48;
}

.woocommerce-MyAccount-navigation ul li.is-active a {
  font-weight: 700;
}

/* contenido derechoi */
.woocommerce .woocommerce-MyAccount-content {
  min-height: 1px;
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 70%;

}

.woocommerce .woocommerce-MyAccount-content p {
  margin-bottom: 40px;
  font-size: 1.5em;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-info {
  font-size: 1.5em;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-info .woocommerce-Button {
  background: #404f9d;
  color: white;
}

.woocommerce .woocommerce-MyAccount-content p {
  font-size: 1.5em;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses {
  display: flex;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address header {
  font-size: 1.8em;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address address {
  font-size: 1.3em;
}

/********* formulario detalles de la cuenta **/

.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm {

  padding: 10px;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm label {
  font-size: 1.3em;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm input {
  font-size: 1em;
  height: 50px;
  border-radius: 50px;
  border: 1px solid black;
  padding-left: 20px;
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  position: absolute;
  right: 1em;
  top: .4em;
  cursor: pointer;
  font-size: 1.2em;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-Button {
  width: 300px;
  height: 60px;
  border-radius: 50px;
  background: #404f9d;
  color: white;
  font-size: 1.5;
  margin-top: 30px;
}

/************************************************************************************* añadir direccion ***/
.woocommerce .woocommerce-MyAccount-content form h3{
  font-size: 1.8em;
}
.woocommerce .woocommerce-MyAccount-content form .woocommerce-address-fields__field-wrapper{
  padding: 10px;
}
.woocommerce .woocommerce-MyAccount-content form .woocommerce-address-fields__field-wrapper label{
  font-size: 1.3em;
}
.woocommerce .woocommerce-MyAccount-content form .woocommerce-address-fields__field-wrapper input{
  font-size: 1em;
  height: 50px;
  border-radius: 50px;
  border: 1px solid black;
  padding-left: 20px;
}
.woocommerce .woocommerce-MyAccount-content form .woocommerce-address-fields__field-wrapper .selection .select2-selection{
  font-size: 1em;
  height: 50px;
  border-radius: 50px;
  border: 1px solid black;
  padding-left: 20px;
}
.woocommerce .woocommerce-MyAccount-content form .woocommerce-address-fields__field-wrapper .selection .select2-selection__rendered{
  margin-top: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 9px 0 9px;
    height: 0;
    left: 0%;
    margin-left: -20px;
    margin-top: 4px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 9px 10px 9px;
}

.woocommerce .woocommerce-MyAccount-content form .woocommerce-address-fields button{
   width: 300px;
  height: 60px;
  border-radius: 50px;
  background: #404f9d;
  color: white;
  font-size: 1.5;
  margin-top: 30px;
}

/******************************* iconos *****************************/
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    font: var(--fa-font-solid);
    content: "\f058";
}