* {
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 760px;
}

.carousel .glider {
  overflow: hidden;
  width: 100%;
  height: 760px;
}

.carousel .glider .glider-track {
  width: 100%;
  height: 760px;
}

.carousel .glider .imgFrontal {
  width: 100%;
  height: 760px;
}

.glider .imgFrontal .imagenSlider {
  width: 100%;
  height: 760px;
  display: block;
  filter: brightness(60%);
}

@supports (object-fit: cover) {
  .glider .imgFrontal .imagenSlider {
    width: 100%;
    height: 760px;
    object-fit: cover;
    object-position: center center;
  }
}

.next,
.prev {
  position: absolute;
  display: block;
  width: 40px;
  height: 80px;
  border: none;
  top: calc(50% - 40px);
  cursor: pointer;
  line-height: 40px;
  opacity: 20%;
  background: #fff;
  font-size: 1.5rem;
}

.next:hover,
.prev:hover {
  opacity: 60%;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.carousel .glider-dots {
  margin-top: -3%;
  z-index: 100;
  position: relative;
}

.carousel .glider-dot {
  color: #ececec;
  background: #ececec;
}

.carousel .glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #404f9d;
}

.imgFrontal .textoSlider {
  position: relative;
  width: 100%;
  height: 75vh;
  margin-top: -38%;
}

.imgFrontal .imgLogoBlanco {
  position: absolute;
  width: 22%;
  height: auto;
  margin-left: 75%;
  margin-top: 1%;
  /*left: 67rem;*/
}

.imgFrontal .imgLogoBlanco img {
  width: 100%;
  height: auto;
}

.imgFrontal .textoSlider .titulo {
  position: absolute;
  width: 40%;
  height: auto;
  margin-top: 9%;
  margin-left: 10%;
  font-size: 3rem;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

.imgFrontal .texto {
  position: absolute;
  margin-top: 15%;
  margin-left: 6%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  height: auto;
  width: 50%;
}

.imgFrontal button {
  position: absolute;
  width: 30%;
  height: 70px;
  margin-top: 24%;
  margin-left: 16%;
  background-color: #7dcb61;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.imgFrontal button:hover {
  background-color: #5d9848;
}

/* seccion de catalogo portadas */

.seccionCatalogo {
  width: 90%;
  height: auto;
  margin-top: 0%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 5%;
}

.seccionCatalogo .cardCatalogo {
  width: 40%;
  position: relative;
  margin-left: 2%;
  border-radius: 30px;
}

.seccionCatalogo .cardCatalogo img {
  width: 100%;
  height: 300px;
  filter: brightness(60%);
  border-radius: 30px;
  
}

@supports (object-fit: cover) {
  .seccionCatalogo .cardCatalogo img {
    height: 300px;
    object-fit: cover;
    object-position: center center;
  }
}

.seccionCatalogo .cardCatalogo p {
  position: absolute;
  font-size: 2rem;
  font-weight: 800;
  top: 45%;
  left: 26%;
}

.seccionCatalogo .catalogoUno p {
  left: 23%;
}

.seccionCatalogo .cardCatalogo a {
  text-decoration: none;
  color: #fff;
}

.seccionCatalogo .catalogoUno img:hover,
.seccionCatalogo .catalogoDos:hover,
.seccionCatalogo .catalogoTres:hover{
  opacity: 60%;
}

/* seccion menus y productos */

.seccionArticulos {
  width: 88%;
  height: auto;
  margin-top: 0%;
  display: flex;
  margin-top: 5%;
  margin-left: 7%;
  justify-content: space-between;
}

.seccionArticulos .lateralIzquierda {
  width: 35%;
  height: auto;

}

.navMenuCategorias {
  width: 98%;
  margin-left: 1%;
  background: #f6f6f6;
}

.navMenuCategorias .main-nav-categorias .tituloMenu {
  background: #7F8FDE;
  height: 50px;
  font-size: 2rem;
  font-weight: 400;
  padding: 20px 0 10px 20px;
  color: #FFFFFF;
}

.navMenuCategorias .main-nav-categorias .menu-menu-catalogo-container .menu li {
  width: 80%;
  margin-left: 4%;
  padding: 20px;
  border-bottom: 1px solid #707070;
  font-size: 1.5rem;
  font-weight: 300;
}
.navMenuCategorias .main-nav-categorias .menu-menu-catalogo-container .menu li a {
  color: #878787;
}
.navMenuCategorias .main-nav-categorias .menu-menu-catalogo-container .menu li a:hover {
  color: #7F8FDE;
  font-weight: 400;
  
}
/****************************** WIDGETS OFERTAS ************************************/
.seccion-ofertas {
  width: 100%;
  margin-top: 40px;
}

.seccion-ofertas .contenedor-ofertas,
.seccion-ofertas .contenedor_widgets_categorias {
  margin-bottom: 20%;
}

.seccion-ofertas .contenedor-ofertas .widgettitle,
.seccion-ofertas .contenedor_widgets_categorias .widgettitle {
  width: 90%;
  margin-left: 5%;
  height: 40px;
  font-size: 2rem;
  color: #878787;
  position: relative;
  border-bottom: 1px solid #dadada;
}

.seccion-ofertas .contenedor-ofertas .widgettitle::after,
.seccion-ofertas .contenedor_widgets_categorias .widgettitle::after {
  content: "";
  width: 15rem;
  border-bottom: 3px solid #7dcb61;
  display: block;
  position: absolute;
  bottom: -1px;
}

.seccion-ofertas .contenedor-ofertas .product_list_widget,
.seccion-ofertas .contenedor_widgets_categorias .product_list_widget {
  width: 90%;
  margin-left: 5%;
  position: relative;
}

.seccion-ofertas .contenedor-ofertas .product_list_widget img,
.seccion-ofertas .contenedor_widgets_categorias .product_list_widget img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.product_list_widget .product-title {
  width: 57%;
  color: #878787;
  font-size: 1.5rem;
  line-height: 1.3em;
  font-weight: 700;
  position: absolute;
  top: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product_list_widget .product-title:hover {
  color: #7F8FDE;
}
.contenedor-ofertas .product_list_widget li,
.contenedor_widgets_categorias .product_list_widget li {
  display: block;
  position: relative;
}

.contenedor-ofertas .product_list_widget li del .amount bdi,
.contenedor_widgets_categorias .product_list_widget li del .amount bdi {
  width: 57%;
  top: 90px;
  position: absolute;
  color: #878787;
  font-weight: 300;
  font-size: 1.1rem;
  text-decoration: line-through;
}

.contenedor-ofertas .product_list_widget li bdi,
.contenedor_widgets_categorias .product_list_widget li bdi {
  top: 90px;
  position: absolute;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
}

.contenedor-ofertas .product_list_widget li ins .amount bdi,
.contenedor_widgets_categorias .product_list_widget li ins .amount bdi {
  width: 57%;
  top: 125px;
  position: absolute;
  color: #404F9D;
  font-weight: 700;
  font-size: 1.5rem;
}

/********************************************************************** widget carousel productos ******/

.seccionArticulos .lateralDerecha {
  width: 65%;
  padding: 0 2rem;
  height: auto;
}

#wps-slider-section.wps-slider-section .sp-woo-product-slider-section-title {
    color: #878787;
    font-size: 1em;
    font-weight: 700;
}

#wps-slider-section #sp-woo-product-slider-87 .wpsf-product-title a,
#wps-slider-section #sp-woo-product-slider-104 .wpsf-product-title a,
#wps-slider-section #sp-woo-product-slider-115 .wpsf-product-title a,
#wps-slider-section #sp-woo-product-slider-116 .wpsf-product-title a{color: #878787;font-size: 1.3em;font-weight: 700;}

#wps-slider-section #sp-woo-product-slider-87 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price,
#wps-slider-section #sp-woo-product-slider-104 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price,
#wps-slider-section #sp-woo-product-slider-115 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price,
#wps-slider-section #sp-woo-product-slider-116 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price{
    color: #000000;
    font-size: 1.6em;
}
#wps-slider-section .wpsf-product-price ins {
    color: #404F9D;
}
#wps-slider-section #sp-woo-product-slider-87 .wpsf-product-price del span,
#wps-slider-section #sp-woo-product-slider-104 .wpsf-product-price del span,
#wps-slider-section #sp-woo-product-slider-115 .wpsf-product-price del span,
#wps-slider-section #sp-woo-product-slider-116 .wpsf-product-price del span{
    color: #888888;
    font-size: .7em;
  font-weight: 300
}
.wps-product-section .slick-list .wpsf-product{
  padding: 10px;
}
.wps-product-section .slick-list .wpsf-product:hover{
  box-shadow: 0px 0px 9px -1px rgba(163,163,163,0.75);
}
/**************************************************************** widget filtro precio *********************************/
.contenedor_widgets_categorias .wpc-filters-widget-main-wrapper {}

.contenedor_widgets_categorias .wpc-filters-widget-main-wrapper .wpc-filters-widget-content {}


.contenedor_widgets_categorias .wpc-filters-widget-main-wrapper .wpc-filters-widget-content .wpc-filters-widget-containers-wrapper {}

.contenedor_widgets_categorias .wpc-filters-widget-main-wrapper .wpc-filters-widget-content .wpc-filters-widget-containers-wrapper .wpc-filter-set-widget-title .widgettitle {
  width: 100%;
  margin-left: 0%;
  height: 50px;
}

.contenedor_widgets_categorias .wpc-filters-widget-main-wrapper .wpc-filters-widget-content .wpc-filters-widget-containers-wrapper .wpc-filter-set-widget-title .widgettitle::after {}

.contenedor_widgets_categorias .wpc-filters-widget-main-wrapper .wpc-filters-widget-content .wpc-filters-widget-containers-wrapper .wpc-filters-scroll-container {}

.wpc-filters-scroll-container .wpc-filters-widget-wrapper .wpc-filters-section .wpc-filter-header .widget-title {
  margin-top: 9px;
  font-size: 1.3em;
}

.wpc-filters-scroll-container .wpc-filters-widget-wrapper .wpc-filters-section .wpc-filter-content .wpc-filters-range-min,
.wpc-filters-scroll-container .wpc-filters-widget-wrapper .wpc-filters-section .wpc-filter-content .wpc-filters-range-max {
  height: 40px;
  font-size: 1.5em;
  padding-left: 10px;
  border: 1px solid #4e4e4e;
  border-radius: 50px;
}

.wpc-filters-scroll-container .wpc-filters-widget-wrapper .wpc-filters-section .wpc-filter-content .wpc-filters-range-slider-control .ui-slider-range {
  background-color: #7891e3;
  height: 5px;
}

.wpc-inner-widget-chips-wrapper .wpc-filter-chips-list .wpc-filter-chip {
  font-size: 1.2em;
  margin-top: 10px
}

.wpc-inner-widget-chips-wrapper .wpc-filter-chips-list .wpc-chip-reset-all a {
  background-color: #ff6a6a;
  color: white;
  border: none;
}

.wpc-inner-widget-chips-wrapper .wpc-filter-chips-list .wpc-chip-_price-max__price a,
.wpc-inner-widget-chips-wrapper .wpc-filter-chips-list .wpc-chip-_price-min__price a {
  border: 1px solid #7891e3;
}

.wpc-widget-top-inside .wpc-inner-widget-chips-wrapper {
  overflow-y: hidden !important;
}

.wpc-custom-selected-terms .wpc-filter-chips-list {
  font-size: 1.2em;
}

.wpc-custom-selected-terms .wpc-filter-chips-list .wpc-chip-reset-all {
  background-color: #ff6a6a;
  color: white;
  border: none;
  border-radius: 50px;
}

/***************************************************************** widgets carousel productos ****************************/
.seccion-sliders {
  margin-bottom: 5%;
}

.lateralDerecha .seccion-sliders .wps-slider-section .sp-woo-product-slider-section-title {
  width: 100%;
  height: 50px;
  position: relative;
  border-bottom: 5px solid #7f8fde;
}

.lateralDerecha .seccion-sliders .wps-slider-section .slick-arrow {
  height: 40px !important;
  margin-top: -2rem;
}

.lateralDerecha .seccion-sliders .wps-slider-section .slick-prev i,
.lateralDerecha .seccion-sliders .wps-slider-section .slick-next i {
  font-size: 1.5rem;
  padding: 0.6rem 0 0 0;
}

.lateralDerecha .seccion-sliders .wps-slider-section .wps-product-section .slick-list .slick-track .slick-slide div .wpsf-product .sp-wps-product-image-area {}

.lateralDerecha .seccion-sliders .wps-slider-section .wps-product-section .slick-list .slick-track .slick-slide div .wpsf-product .sp-wps-product-image-area .wpsf-product-img {
  width: 100%;
  height: 26vh;
}

/************************************* catalogo Derecho ************************/
.seccion-categoria {
  width: 100%;
  height: auto;
}

.seccion-categoria .cardCategoria {
  width: 100%;
  height: 30vh;
  position: relative;

  margin-bottom: 3%;
}

.seccion-categoria .cardCategoria a {
  color: white;
}

.seccion-categoria .categoriaUno p {
  position: absolute;
  font-size: 5em;
  font-weight: 700;
  top: 30%;
  left: 37%;
}
.seccion-categoria .categoriaUno:hover,
.seccion-categoria .categoriaDos:hover{
  opacity: 70%;
}
.seccion-categoria .categoriaDos p {
  position: absolute;
  font-size: 5em;
  font-weight: 700;
  top: 30%;
  left: 15%;
}

.seccion-categoria .cardCategoria img {
  width: 100%;
  height: auto;
  filter: brightness(60%);
}

/****************************************************************** MEDIAS QUERIES ****************************************/
@media screen and (max-width: 1680px) {

  /*************************************** carousel *******************/
  .carousel {
    height: 650px;
  }

  .carousel .glider {
    height: 650px;
  }

  .carousel .glider .glider-track {
    height: 650px;
  }

  .carousel .glider .imgFrontal {
    height: 650px;
  }

  .glider .imgFrontal .imagenSlider {
    height: 650px;
  }

  @supports (object-fit: cover) {
    .glider .imgFrontal .imagenSlider {
      height: 650px;
    }
  }

  .imgFrontal .textoSlider .titulo {
    font-size: 3rem;
  }

  .imgFrontal .texto {
    font-size: 1.5rem;
  }

  .imgFrontal button {
    width: 25%;
    height: 50px;
    margin-left: 18%;
    font-size: 1.5rem;
  }

  /* seccion de catalogo portadas */

  .seccionCatalogo .catalogoUno p {
    left: 21%;
  }

  /****************************** WIDGETS OFERTAS ************************************/

  .seccion-ofertas .contenedor-ofertas .product_list_widget img {
    width: 170px;
    height: 170px;
    margin-right: 3px;
  }

  /************************************* catalogo Derecho ************************/

  .seccion-categoria .cardCategoria {
    height: 25vh;
    margin-bottom: 7%;
  }

  .seccion-categoria .cardCategoria a {
    color: white;
  }

  .seccion-categoria .categoriaUno p {
    font-size: 4.3em;
    top: 36%;
    left: 40%;
  }

  .seccion-categoria .categoriaDos p {
    font-size: 4.3em;
  }
}

@media screen and (max-width: 1440px) {

  /*************************************** carousel *******************/
  .carousel {
    height: 570px;
  }

  .carousel .glider {
    height: 570px;
  }

  .carousel .glider .glider-track {
    height: 570px;
  }

  .carousel .glider .imgFrontal {
    height: 570px;
  }

  .glider .imgFrontal .imagenSlider {
    height: 570px;
  }

  @supports (object-fit: cover) {
    .glider .imgFrontal .imagenSlider {
      height: 570px;
    }
  }

  .imgFrontal .textoSlider .titulo {
    font-size: 2.2em;
  }

  .imgFrontal .texto {
    font-size: 1.2em;
  }

  .imgFrontal button {
    width: 25%;
    height: 50px;
    margin-left: 17%;
    font-size: 1.3em;
  }

  /************************************************** seccion catalogo portada ****************/
  /* seccion de catalogo portadas */

  .seccionCatalogo {
    height: 240px;
  }

  .seccionCatalogo .cardCatalogo img {
    width: 100%;
    filter: brightness(60%);
  }

  @supports (object-fit: cover) {
    .seccionCatalogo .cardCatalogo img {
      height: 240px;
    }
  }

  .seccionCatalogo .cardCatalogo p {
    font-size: 1.7rem;
    left: 19%;
    
  }

  .seccionCatalogo .catalogoUno p {
    left: 16%;
    font-size: 1.7em;
  }

  /*************************************************** seccion menus y productos */
  .navMenuCategorias .main-nav-categorias .tituloMenu {
      height: 30px;
      padding: 15px 0 10px 20px;
  }
  .navMenuCategorias .main-nav-categorias .tituloMenu {
    font-size: 1.3em;
  }

  .navMenuCategorias .main-nav-categorias .menu-menu-catalogo-container .menu li {
    font-size: 1.1em;
  }

  /********************************************* seccion sliders *****************/
  .seccion-sliders {
    margin-bottom: 0%;
  }
  
  #wps-slider-section h2.sp-woo-product-slider-section-title {
    font-size: 1.5rem !important;
  }

  #wps-slider-section #sp-woo-product-slider-87 .wps-product-image {
    width: 160px;
    height: 160px;
  }

  #wps-slider-section #sp-woo-product-slider-87 .wps-product-image img {
    width: 100%;
    height: 160px;
  }

  #wps-slider-section #sp-woo-product-slider-104 .wps-product-image {
    width: 160px;
    height: 160px;
  }

  #wps-slider-section #sp-woo-product-slider-104 .wps-product-image img {
    width: 100%;
    height: 160px;
  }

  #wps-slider-section #sp-woo-product-slider-115 .wps-product-image {
    width: 160px;
    height: 160px;
  }

  #wps-slider-section #sp-woo-product-slider-115 .wps-product-image img {
    width: 100%;
    height: 160px;
  }

  #wps-slider-section #sp-woo-product-slider-116 .wps-product-image {
    width: 160px;
    height: 160px;
  }

  #wps-slider-section #sp-woo-product-slider-116 .wps-product-image img {
    width: 100%;
    height: 160px;
  }
  .lateralDerecha .seccion-sliders .wps-slider-section .slick-prev i, .lateralDerecha .seccion-sliders .wps-slider-section .slick-next i {
      font-size: 1.5rem;
      padding: 1em 0 0 0;
  }
  .lateralDerecha .seccion-sliders .wps-slider-section .slick-arrow {
      height: 60px !important;
      margin-top: -3rem;
  }
  
  #wps-slider-section #sp-woo-product-slider-87 .wpsf-product-title a, 
  #wps-slider-section #sp-woo-product-slider-104 .wpsf-product-title a, 
  #wps-slider-section #sp-woo-product-slider-115 .wpsf-product-title a, 
  #wps-slider-section #sp-woo-product-slider-116 .wpsf-product-title a {
      font-size: 1.1em;
  }

  #wps-slider-section #sp-woo-product-slider-87 .wpsf-product-price del span, 
  #wps-slider-section #sp-woo-product-slider-104 .wpsf-product-price del span, 
  #wps-slider-section #sp-woo-product-slider-115 .wpsf-product-price del span, 
  #wps-slider-section #sp-woo-product-slider-116 .wpsf-product-price del span {
      font-size: .7em;
   
  }
  #wps-slider-section #sp-woo-product-slider-87 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price, 
  #wps-slider-section #sp-woo-product-slider-104 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price, 
  #wps-slider-section #sp-woo-product-slider-115 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price, 
  #wps-slider-section #sp-woo-product-slider-116 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price {
      color: #000000;
      font-size: 1.3em;
  }

  /****************************** WIDGETS OFERTAS ************************************/
  .seccion-ofertas .contenedor-ofertas .widgettitle, .seccion-ofertas .contenedor_widgets_categorias .widgettitle {
      font-size: 1.4rem;
  }
  
  .seccion-ofertas .contenedor-ofertas .product_list_widget img {
    width: 120px;
    height: 120px;
  }

  .product_list_widget .product-title {
    font-size: 1.1em;
    top: 25px;
  }

  .contenedor-ofertas .product_list_widget li del .amount bdi {
    top: 60px;
    font-size: .9em;

  }

  .contenedor-ofertas .product_list_widget li bdi {
    top: 60px;
    font-size: 1.2em;
  }

  .contenedor-ofertas .product_list_widget li ins .amount bdi {
    top: 90px;
    font-size: 1.2rem;
  }

  /************************************* catalogo Derecho ************************/
  .seccion-categoria .cardCategoria {
    width: 100%;
    height: 25vh;
    position: relative;
    background: blue;
    margin-bottom: 3%;
  }

  .seccion-categoria .cardCategoria a {
    color: white;
  }

  .seccion-categoria .categoriaUno p {
    position: absolute;
    font-size: 3em;
    top: 30%;
    left: 40%;
  }

  .seccion-categoria .categoriaDos p {
    position: absolute;
    font-size: 3em;
    top: 30%;
    left: 24%;
  }

  .seccion-categoria .cardCategoria img {
    width: 100%;
    height: 25vh;
    filter: brightness(60%);
  }
}

@media screen and (max-width: 1024px) {

  /*************************************** carousel *******************/
  .carousel {
    height: 370px;
  }

  .carousel .glider {
    height: 370px;
  }

  .carousel .glider .glider-track {
    height: 370px;
  }

  .carousel .glider .imgFrontal {
    height: 370px;
  }

  .glider .imgFrontal .imagenSlider {
    height: 370px;
  }

  @supports (object-fit: cover) {
    .glider .imgFrontal .imagenSlider {
      height: 370px;
    }
  }

  .imgFrontal .imgLogoBlanco {
    margin-top: 4%;
  }

  .imgFrontal .textoSlider .titulo {
    font-size: 1.5rem;
  }

  .imgFrontal .texto {
    font-size: .9rem;
  }

  .imgFrontal button {
    height: 45px;
    margin-left: 18%;
    font-size: 1rem;
  }

  .next,
  .prev {
    width: 25px;
    height: 50px;
  }

  /************************************************** seccion catalogo portada ****************/

  .seccionCatalogo {
    width: 95%;
    height: 195px;
    margin-left: 1.5%;
  }

  .seccionCatalogo .cardCatalogo img {
    width: 100%;
    filter: brightness(60%);
  }

  @supports (object-fit: cover) {
    .seccionCatalogo .cardCatalogo img {
      height: 195px;
    }
  }

  .seccionCatalogo .cardCatalogo p {
    top: 40%;
    font-size: 1.4rem;
  }

  /******************************************** menu catalogo *************************/
  .navMenuCategorias {
    margin-left: 0%;
  }

  .navMenuCategorias .main-nav-categorias .tituloMenu {
    height: 35px;
    font-size: 1.5rem;
    padding: 10px 0 0 15px;
  }

  .navMenuCategorias .main-nav-categorias .menu-menu-catalogo-container .menu li {
    width: 80%;
    margin-left: 3%;
    padding: 15px;
    font-size: 1rem;
  }
  /********************************** seccion widgets *********************************/
  .seccionArticulos {
      width: 90%;
      margin-top: 7%;
      margin-left: 5%;
  }
  /******************************** lateral izquierda *********************************/
  .seccionArticulos .lateralIzquierda {
      width: 40%;
      height: auto;
  }
  /******************************** lateral derecha *************************/
  .seccionArticulos .lateralDerecha {
      width: 60%;
      padding: 0 2rem;
      height: auto;
  }
  /****************************** WIDGETS OFERTAS ************************************/
  
  .seccion-ofertas .contenedor-ofertas {
    margin-bottom: 20%;
  }

  .seccion-ofertas .contenedor-ofertas .widgettitle {
    width: 100%;
    margin-left: 0%;
    height: 40px;
    font-size: 1.5rem;
  }

  .seccion-ofertas .contenedor-ofertas .widgettitle::after {
    width: 10rem;
  }

  .seccion-ofertas .contenedor-ofertas .product_list_widget {
    width: 100%;
    margin-left: 0%;
    position: relative;
  }

  .seccion-ofertas .contenedor-ofertas .product_list_widget img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }

  .product_list_widget .product-title {
    width: 55%;
    font-size: 1rem;
    top: 20px;
  }

  .contenedor-ofertas .product_list_widget li del .amount bdi {
    width: 55%;
    top: 45px;
    font-size: .8rem;
  }

  .contenedor-ofertas .product_list_widget li bdi {
    top: 45px;
    font-size: 1.1rem;
  }

  .contenedor-ofertas .product_list_widget li ins .amount bdi {
    width: 55%;
    top: 65px;
    font-size: 1.1rem;
  }

  /********************************************* slider productos *********************/
  #wps-slider-section h2.sp-woo-product-slider-section-title {
    font-size: 1.3rem !important;
  }

  .lateralDerecha .seccion-sliders .wps-slider-section .slick-arrow {
    margin-top: -1rem;
  }

  .lateralDerecha .seccion-sliders .wps-slider-section .slick-prev i,
  .lateralDerecha .seccion-sliders .wps-slider-section .slick-next i {
    font-size: 1.2rem;

  }

  .lateralDerecha .seccion-sliders .wps-slider-section .sp-woo-product-slider-section-title {
    height: 40px;
  }

  .slick-slider .slick-list,
  .slick-slider .slick-track {
    margin-top: -3%;
  }
  #wps-slider-section #sp-woo-product-slider-87 .wpsf-product-title a, 
  #wps-slider-section #sp-woo-product-slider-104 .wpsf-product-title a, 
  #wps-slider-section #sp-woo-product-slider-115 .wpsf-product-title a, 
  #wps-slider-section #sp-woo-product-slider-116 .wpsf-product-title a {
      font-size: .9em;
  }
  #wps-slider-section #sp-woo-product-slider-87 .wpsf-product-price del span, 
  #wps-slider-section #sp-woo-product-slider-104 .wpsf-product-price del span, 
  #wps-slider-section #sp-woo-product-slider-115 .wpsf-product-price del span, 
  #wps-slider-section #sp-woo-product-slider-116 .wpsf-product-price del span {
      font-size: .6em;
  }
  #wps-slider-section #sp-woo-product-slider-87 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price, 
  #wps-slider-section #sp-woo-product-slider-104 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price, 
  #wps-slider-section #sp-woo-product-slider-115 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price, 
  #wps-slider-section #sp-woo-product-slider-116 .sp-wps-product-details .sp-wps-product-details-inner .wpsf-product-price {
      color: #000000;
      font-size: 1.1em;
  }
  /********************************************** seccion ****************************/
  .seccion-categoria {
    margin-bottom: 50px;
  }
  .seccion-categoria .cardCategoria {
      height: 20vh;
  }
  .seccion-categoria .cardCategoria img {
      height: 20vh;
  }
  .seccion-categoria .categoriaUno p {
      font-size: 2em;
      top: 37%;
      left: 40%;
    
  }
  .seccion-categoria .categoriaDos p {
      position: absolute;
      font-size: 1.7em;
      top: 33%;
      left: 27%;
  }
}

@media screen and (max-width: 768px) {
  
 /*************************************** carousel *******************/
  .carousel {
    height: 300px;
  }

  .carousel .glider {
    height: 300px;
  }

  .carousel .glider .glider-track {
    height: 300px;
  }

  .carousel .glider .imgFrontal {
    height: 300px;
  }

  .glider .imgFrontal .imagenSlider {
    height: 300px;
  }

  @supports (object-fit: cover) {
    .glider .imgFrontal .imagenSlider {
      height: 300px;
    }
  }

  .imgFrontal .imgLogoBlanco {
    margin-top: 1%;
  }

  .imgFrontal .textoSlider .titulo {
    font-size: 1.2rem;
    margin-top: 7%;
  }

  .imgFrontal .texto {
    font-size: .7rem;
    margin-top: 13%;
    
  }

  .imgFrontal button {
    height: 35px;
    margin-left: 18%;
    margin-top: 22%;
    font-size: .8rem;
  }

  .next,
  .prev {
    width: 25px;
    height: 40px;
  }
  /* seccion de catalogo portadas */

  .seccionCatalogo {
    width: 95%;
    height: 170;
    margin-left: 1.3%;
  }

  .seccionCatalogo .cardCatalogo img {
    height: 170px;
  }
  
  @supports (object-fit: cover) {
    .seccionCatalogo .cardCatalogo img {
      height: 170px;
    }
  }
  
  .seccionCatalogo .cardCatalogo p {
    font-size: 1rem;
    top: 40%;
    left: 20%;
  }
  
  .seccionCatalogo .catalogoUno p {
    left: 16%;
  }

  /************************************ seccion articulos widgets *****************/
  .seccionArticulos {
      width: 100%;
      margin-left: 0%;
  }
  .seccionArticulos .lateralIzquierda {
      display: none;
  }
    .seccionArticulos .lateralDerecha {
      width: 95%;
      margin-left: 2%;
      padding: 0 0rem;
      height: auto;
  }
  /*************************************** categorias **************************/
  .seccion-categoria .categoriaDos p {
      left: 31%;
  }
}