* {
  margin: 0;
  padding: 0;
}
.contenedorInformacion{

 width: 90%;
margin-left: 5%;
margin-bottom: 10%;
}
.contenedorInformacion .contenedorTexto h1{
  text-align: center;
  font-size: 3em;
  margin: 2% 0% 5% 0%;
  color: #404F9D;
  font-weight: 600;
}
.contenedorInformacion .contenedorTexto .descripcion{
    font-size: 1.7em;
  color: #808080;
  font-weight: 300;
  line-height: 1.8;
}

/***************************************************************************** 
                                
                                MEDIA QUERYS 

*****************************************************************************/
@media screen and (max-width: 1680px) {
 .contenedorInformacion .contenedorTexto h1{
  font-size: 2em;
 }
.contenedorInformacion .contenedorTexto .descripcion{
  font-size: 1.3em;
 }
}

@media screen and (max-width: 1440px) {
 .contenedorInformacion .contenedorTexto h1{
  font-size: 1.5em;
 }
.contenedorInformacion .contenedorTexto .descripcion{
  font-size: 1em;
 }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {
 .contenedorInformacion .contenedorTexto h1{
  font-size: 1.3em;
 }
.contenedorInformacion .contenedorTexto .descripcion{
  font-size: .9em;
 }
}

@media screen and (max-width: 768px) {}