* {
  margin: 0;
  padding: 0;
}

/****************************** estilos para los breadcrumb ***************************/
.woocommerce-breadcrumb {
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-left: 0%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #404F9D;
}
.woocommerce-breadcrumb a{
  color: #6B6B6B;
}
.woocommerce-breadcrumb::before {
  font: var(--fa-font-solid);
  content: "\f015";
  margin-right: 10px;
  font-size: 1em;
  color: #6B6B6B;
}
.woocommerce-breadcrumb span a {
  color: #a5a5a5;
}

/******************************************** contenedores  ***********************************/
.contenedorSingleProductos {
  width: 88%;
  height: auto;
  margin-top: 0%;
  display: flex;
  margin-top: 5%;
  margin-left: 7%;
  justify-content: space-between;
}

.contenedorSingleProductos .lateralIzquierda {
  width: 25%;
  height: auto;
}

.contenedorSingleProductos .lateralDerecha {
  width: 70%;
  padding: 0 2rem;
  height: auto;
}

/******************************************** estilos para los productos single ********************************/
.contenedorSingleProductos .product .onsale {
  position: absolute;
  font-size: 2em;
  color: #78fa41;
  z-index: 1;
}

.contenedorSingleProductos .product .woocommerce-product-gallery {
    width: 520px !important;
    height: 50em;

}
.contenedorSingleProductos .product .woocommerce-product-gallery .gallery-navigation-carousel {
  width: 100%;
  height: auto;

}

.contenedorSingleProductos .product .woocommerce-product-gallery .wcgs-carousel {
  width: 100%;
  height: 30em;
  background: pink;
}

/* flechas slider */
.contenedorSingleProductos .product .woocommerce-product-gallery .wcgs-carousel .slick-arrow {}

/* imagen principal */
.contenedorSingleProductos .product .woocommerce-product-gallery .wcgs-carousel .slick-list .slick-track {

}

.contenedorSingleProductos .product .woocommerce-product-gallery .wcgs-carousel .slick-list .slick-track .wcgs-slider-image img {
  width: 100% !important;
  height: auto !important;
}

.contenedorSingleProductos .product .woocommerce-product-gallery .wcgs-carousel .photo {

}

.contenedorSingleProductos .product .woocommerce-product-gallery .wcgs-gallery-preloader {}

/*** titulo e informacion ***/
.contenedorSingleProductos .product .summary {
  width: 39em;
  min-height: 50em;
  margin-left: 33em;

}

.contenedorSingleProductos .product .summary .product_title {
  font-size: 3em;
  line-height: 1.28em;
  color: #878787;
  font-weight: 600;
  border-bottom: 5px solid #7f8fde;
}

.contenedorSingleProductos .product .summary .price del .woocommerce-Price-amount bdi{
  font-size: 1.3rem;
}

.contenedorSingleProductos .product .summary .price .woocommerce-Price-amount bdi{
  font-size: 2.2rem;
}

.contenedorSingleProductos .product .summary .price ins {
  font-size: 2.2rem;
  margin-left: 1em;
  text-decoration: none;
}

.contenedorSingleProductos .product .summary .woocommerce-Price-amount {
  color: #333e48;
  line-height: 1.286em;
  font-weight: 600;

}

.contenedorSingleProductos .product .summary .woocommerce-product-details__short-description {
  font-size: 2rem;
  line-height: 1.5em;
  color: #adadad;
  margin-bottom: 1em;
}

.contenedorSingleProductos .product .summary .stock {
  font-size: 1.4em;
  margin-top: .8em;
  margin-bottom: .8em;

}

.contenedorSingleProductos .product .summary .variations {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.contenedorSingleProductos .product .summary .variations .label {
  font-size: 1.5em;
}

.contenedorSingleProductos .product .summary .variations .label label {
  float: left;
}

.contenedorSingleProductos .product .summary .variations .vi-wpvs-variation-style-content {}

.contenedorSingleProductos .product .summary .variations .vi-wpvs-variation-style-content .vi-wpvs-option-wrap {
  padding: 0.2em 0.3em;
  font-size: 1.6em;
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  color: #474747;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.contenedorSingleProductos .product .summary .variations .vi-wpvs-variation-style-content .reset_variations {
  font-size: 1.5em;
  color: #7f8fde;
}

.contenedorSingleProductos .product .summary .single_variation_wrap .woocommerce-variation-add-to-cart {
  margin-bottom: 2em;
}

.contenedorSingleProductos .product .summary .cart {
  margin-bottom: 1.5em;
}

.contenedorSingleProductos .product .summary .quantity {
  display: inline-block;

}

.contenedorSingleProductos .product .summary .quantity,
.single_variation_wrap .woocommerce-variation-add-to-cart .quantity {
  width: 10em;
}

.contenedorSingleProductos .product .summary .quantity input[type="number"],
.single_variation_wrap .woocommerce-variation-add-to-cart .quantity input[type="number"] {
  width: 3em;
  height: 60px;
  background-color: #f6f6f6;
  color: #818181;
  font-size: 1.6em;
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  color: #474747;
}

.contenedorSingleProductos .product .summary .single_add_to_cart_button,
.single_variation_wrap .woocommerce-variation-add-to-cart .single_add_to_cart_button {
  color: #fff;
  padding: 0.7em 2em;
  font-size: 1.5em;
  border-radius: 5px;
  background: #7dcb61;
  border: none;
}

/*
div.quantity>label {
    position: absolute;
    width: 13px;
    height: 12px;
    padding: 2em;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  background: ORANGE;
}
*/

/*
.single_add_to_cart_button.button::before {
    display: inline-block;
    font-size: 1.357em;
    vertical-align: middle;
    content: "\61";
    margin-right: .5em;
}

*/

/************** metas sku y categoria ******************/
.contenedorSingleProductos .product .summary .product_meta {
  font-size: 1.3rem;

  display: flex;
  flex-wrap: wrap;
  width: 30em;
}

.contenedorSingleProductos .product .summary .sku_wrapper {
  width: 20em;
  font-weight: 600;
  margin-right: 2em;

  margin-bottom: 1em;
}

.contenedorSingleProductos .product .summary .sku_wrapper span {
  font-weight: 100;
  width: 5em;
  height: 30px;
}

.contenedorSingleProductos .product .summary .posted_in {
  font-weight: 600;
  width: 20em;
}

.contenedorSingleProductos .product .summary .posted_in>a {
  font-weight: 100;
  color: black;
}

/******** descripcion y valoracion ************/
.contenedorSingleProductos .product .woocommerce-tabs {
  width: 100%;
  min-height: 40em;
  /*background: #8b8b8b;*/
  margin-bottom: 1em;
}

.contenedorSingleProductos .product .woocommerce-tabs .wc-tabs {
  width: 100%;
  display: flex;
  /*background: orange;*/
  justify-content: space-evenly;

}

.contenedorSingleProductos .product .woocommerce-tabs .wc-tabs li {
  padding: 1em;
}

.contenedorSingleProductos .product .woocommerce-tabs .wc-tabs li:hover {
  background: #7f8fde;
  color: white;
}

.contenedorSingleProductos .product .woocommerce-tabs .wc-tabs .active {
  background: #7f8fde;
}

.contenedorSingleProductos .product .woocommerce-tabs .wc-tabs .active>a {
  color: white;
}

.contenedorSingleProductos .product .woocommerce-tabs .wc-tabs li a {
  /*background: #42a63c;*/
  font-size: 1.6em;
  color: black;
}
.contenedorSingleProductos .product .woocommerce-tabs .wc-tabs li a:hover {
  color: white;
}

.contenedorSingleProductos .product .woocommerce-tabs .woocommerce-Tabs-panel {
  /*background: pink;*/
  font-size: 1.5em;
  width: 100%;
  padding: 1em;
  border: 3px solid #7f8fde;
  border-radius: 5px;
}

.contenedorSingleProductos .product .woocommerce-tabs .woocommerce-Tabs-panel h2 {
  /*background: pink;*/
  font-size: 1.7em;
  width: 90%;
  padding: 0.5em;
}

.contenedorSingleProductos .product .woocommerce-tabs .woocommerce-Tabs-panel div p {
  /*background: pink;*/
  font-size: 1.2em;
  width: 90%;
  padding: 0.7em;
}

.contenedorSingleProductos .product .woocommerce-tabs .woocommerce-Tabs-panel .woocommerce-product-attributes {
  width: 90%;
  border: 1px solid black;
  /*background: red;*/
}

.contenedorSingleProductos .product .woocommerce-tabs .woocommerce-Tabs-panel .woocommerce-product-attributes th {
  width: 15em;
  padding: 1em;
  border-bottom: 1px solid black;
  /*background: #add;*/
}

.contenedorSingleProductos .product .woocommerce-tabs .woocommerce-Tabs-panel .woocommerce-product-attributes td {
  border-bottom: 1px solid black;
  /*background: #8f4d4d;*/
}

/*********** productos relacionados ************/

/* contenedor principal */
.product .products {
  width: 100%;
  font-size: 2.3rem;

}
/* titulo principal */
.product .products h2{
    font-size: 1em;
    line-height: 1.6em;
    border-bottom: 3px solid #7f8fde;
    margin-bottom: 1.36em;
}
/* contenedor de cada articulo individual */
.product .products .products{
  display: flex;
}

.product .products .products .product{
  /*background: orange;*/
  width: 5em;
  height: auto;
  margin-left: 1em;
  text-align: center;
}
/* imagen */
.product .products .products .product .woocommerce-LoopProduct-link img{
  width: 100%;
  height: auto;
}

/* titulo */
.product .products .products .product .woocommerce-loop-product__title{
  /*background: #b4b4ee;*/
  font-size: .6em;
  padding: .3em;
  height: 1.5em;
  border-bottom: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* precio oferta */
.product .products .products .product .woocommerce-LoopProduct-link .price del span{
  /*background: pink;*/
  font-size: .5em;
}

/* precio normal */
.product .products .products .product .woocommerce-LoopProduct-link .price ins .woocommerce-Price-amount bdi{
  /*background: green;*/
  font-size: .8em;
}

/* precio general */
.product .products .products .product .woocommerce-LoopProduct-link .price > .woocommerce-Price-amount bdi{
  /*background: brown;*/
  font-size: .8em;

}

/* boton */
.product .products .products .product .add_to_cart_button{
  display: inline-block;
  background: #7dcb61;
  padding: .6em 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50px;
  font-size: .4em;
  color: white;
}

/* span oferta */
.product .products .products .product .woocommerce-LoopProduct-link .onsale{
  font-size: .7em;
  background: none;
  color: #7dcb61;
  border-bottom: 1px solid #7dcb61;
}

/********************************************************** media querys **********************/
@media screen and (max-width: 1440px) {
    /****************************** estilos para los breadcrumb ***************************/
  .woocommerce-breadcrumb {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .woocommerce-breadcrumb {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .woocommerce-breadcrumb {
    font-size: .8rem;
  }
}


























