* {
  margin: 0;
  padding: 0;
}

.contenedorContactanos {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10%;
}

.contenedorContactanos .titulo h3{
  text-align: center;
  font-size: 3em;
  margin: 2% 0% 5% 0%;
  color: #404F9D;
  font-weight: 600;
}

.contenedorContactanos .contacto{

}
.contenedorContactanos .contacto .cont-contacto{
  display: flex;
  margin-bottom: 80px;
}
.contenedorContactanos .contacto .cont-contacto .dudas{

  width: 60%;
  
}
.contenedorContactanos .contacto .cont-contacto .dudas .titulo{
  font-size: 2.3em;
  margin-bottom: 5%;
  color: #808080;
  font-weight: 600;
}
.contenedorContactanos .contacto .cont-contacto .dudas .texto{
  font-size: 1.7em;
  color: #808080;
  font-weight: 300;
  line-height: 1.8;
}
.contenedorContactanos .contacto .cont-contacto .formas-contacto{
  width: 40%;
  padding: 20px 20px 20px 20px;
}
.contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono{
  margin-left: 20%;
  margin-top: 20%;
  margin-bottom: 60px;
  
}
.contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono a{
  font-size: 1.5em;
  font-weight: 500;
  margin-left: 10px;
  position: relative;
  top: -10px;
  text-decoration: none;
  color: #6B6B6B;
}
.contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono a:hover,
.contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email a:hover{
  font-weight: 700;
  color: #7F8FDE;
}
.icon-telefono::before{
  font-family: "fontawesome";
  content: "\f095";
  margin-right: 0px;
  font-size: 3em;
  color: #404f9d;
  
}
.contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email{
  margin-left: 20%;
  margin-bottom: 60px;
  
}
.contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email a{
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 50px;
  margin-left: 10px;
  position: relative;
  top: -10px;
  text-decoration: none;
  color: #6B6B6B;
}
.icon-email::before{
  font-family: "fontawesome";
  content: "\f0e0";
  margin-right: 0px;
  font-size: 3em;
  color: #404f9d;
}

.contenedorContactanos .contacto .cont-contacto .formas-contacto .redes{
  display: flex;
}

.formas-contacto .redes{
  margin-right: 20px;
  margin-left: 20%;
  
}
.formas-contacto .redes a,
.formas-contacto .redes a{
  margin-right: 20px;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2em;
  text-decoration: none;
  color: #6B6B6B;
}
.formas-contacto .redes a:hover,
.formas-contacto .redes a:hover{
    font-weight: 700;
    color: #7F8FDE;
}
.formas-contacto .redes .face-icon::before{
  font-family: "fontawesome";
  content: "\f09a";
  font-size: 3em;
  margin-right: 5px;
  color: #404f9d;

}

.formas-contacto .redes .insta-icon::before{
  font-family: "fontawesome";
  content: "\f16d";
  margin-right: 5px;
  font-size: 3em;
  color: #404f9d;
}

.contenedorContactanos .contacto .form-contacto .cont-form{
  background: #eeeeee;
  width: 80%;
  padding: 20px 50px;
  margin: 0px auto;
  border-radius: 40px;
}

.contenedorContactanos .contacto .form-contacto .cont-form .titulo{
  text-align: center;
  margin-top: 50px;
  font-size: 2.3em;
  margin-bottom: 5%;
  color: #808080;
  font-weight: 600;
}

.contenedorContactanos .contacto .form-contacto .cont-form div>form{
   display: flex;
   justify-content: space-around;
}

.contenedorContactanos .contacto .form-contacto .cont-form .datos{
  width: 50%;
}

.form-contacto .cont-form .datos span {
  width: 100%;
  height: 50px;
}

.form-contacto .cont-form .datos span input{
  width: 90%;
  height: 70px;
  border-radius: 50px;
  border: 1px solid #eeeeee;
  padding-left: 20px;
  font-size: 1.3em;
  font-weight: 500;
}

.contenedorContactanos .contacto .form-contacto .cont-form .mensaje{
  width: 50%;
}

.form-contacto .cont-form .mensaje span {
  width: 100%;
  height: 70px;
}

.form-contacto .cont-form .mensaje span textarea{
  width: 90%;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #eeeeee;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 1.3em;
  font-weight: 500;
  
}

.form-contacto .cont-form .mensaje input[type="submit"]{
  background: #404f9d;
  width: 220px;
  height: 60px;
  float: right;
  margin-right: 60px;
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.form-contacto .cont-form .mensaje input[type="submit"]:hover{
  background: #7F8FDE;

}


/***************************************************************************** 
                                
                                MEDIA QUERYS 

*****************************************************************************/
@media screen and (max-width: 1680px) {
  
/************************************ titulo *********************/
  .contenedorContactanos .titulo h3 {
    font-size: 2em;
  }
  .contenedorContactanos .contacto .cont-contacto .dudas .titulo {
    font-size: 1.7em;
  }
  .contenedorContactanos .contacto .cont-contacto .dudas .texto {
    font-size: 1.3em;
  }

/************************************ contacto ********************/
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono {
    margin-top: 15%;
    margin-bottom: 40px;
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono a {
    font-size: 1.3em;
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email {
    margin-bottom: 40px;
}
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email a {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  .formas-contacto .redes a, .formas-contacto .redes a {
    font-size: 1.3em;
    line-height: 2.5em;
  }

/*************************** formulario ********************************/

  .contenedorContactanos .contacto .form-contacto .cont-form .titulo {
    font-size: 1.7em;
  }
  .form-contacto .cont-form .datos span input {
    height: 60px;
    font-size: 1.1em;
  }
  .form-contacto .cont-form .mensaje span textarea {
    height: 240px;
    font-size: 1.1em;
  }
  .form-contacto .cont-form .mensaje input[type="submit"] {
    width: 200px;
    height: 55px;
    font-size: 1.2em;
  }

  
}
@media screen and (max-width: 1440px) {
  /************************************ titulo *********************/
  .contenedorContactanos .titulo h3 {
    font-size: 1.5em;
  }
  .contenedorContactanos .contacto .cont-contacto .dudas .titulo {
    font-size: 1.3em;
  }
  .contenedorContactanos .contacto .cont-contacto .dudas .texto {
    font-size: 1em;
  }

/************************************ contacto ********************/
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono {
    margin-top: 11%;
    margin-bottom: 30px;
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono a {
    font-size: 1em;
  }
  .icon-telefono::before {
    font-size: 2em;
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email {
    margin-bottom: 30px;
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email a {
    font-size: 1em;
  }
  .icon-email::before {
    font-size: 2em;
  }
  .formas-contacto .redes a, .formas-contacto .redes a {
    font-size: 1em;
    line-height: 2.5em;
  }
  .formas-contacto .redes .face-icon::before {
    font-size: 2em;
  }
  .formas-contacto .redes .insta-icon::before {
    font-size: 2em;
  }

/*************************** formulario ********************************/

  .contenedorContactanos .contacto .form-contacto .cont-form .titulo {
    font-size: 1.3em;
  }
  .form-contacto .cont-form .datos span input {
    height: 50px;
    font-size: 1em;
  }
  .form-contacto .cont-form .mensaje span textarea {
    height: 220px;
    font-size: 1em;
  }
  .form-contacto .cont-form .mensaje input[type="submit"] {
    width: 150px;
    height: 40px;
    font-size: 1em;
    margin-right: 40px;
  }
}
@media screen and (max-width: 1366px) {}
@media screen and (max-width: 1024px) {
  /************************************ titulo *********************/
  .contenedorContactanos .titulo h3 {
    font-size: 1.3em;
  }
  .contenedorContactanos .contacto .cont-contacto .dudas .titulo {
    font-size: 1.1em;
  }
  .contenedorContactanos .contacto .cont-contacto .dudas .texto {
    font-size: .9em;
  }

/************************************ contacto ********************/
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono {
    margin-top: 11%;
    margin-bottom: 30px;
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono a {
    font-size: .9em;
  }
  .icon-telefono::before {
    font-size: 1.8em;
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email {
    margin-bottom: 30px;
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email a {
        font-size: .9em;
  }
  .icon-email::before {
    font-size: 1.8em;
  }
  .formas-contacto .redes a, .formas-contacto .redes a {
    font-size: .9em;
    line-height: 2.5em;
  }
  .formas-contacto .redes .face-icon::before {
    font-size: 1.8em;
  }
  .formas-contacto .redes .insta-icon::before {
    font-size: 1.8em;
  }

/*************************** formulario ********************************/
  .contenedorContactanos .contacto .form-contacto .cont-form {
    width: 90%;
    padding: 1px 40px;
    margin-left: 0%;
    border-radius: 40px;
  }
  .contenedorContactanos .contacto .form-contacto .cont-form .titulo {
    font-size: 1.1em;
  }
  .form-contacto .cont-form .datos span input {
    height: 40px;
    font-size: .9em;
  }
  .form-contacto .cont-form .mensaje span textarea {
    height: 190px;
    font-size: .9em;
  }
  .form-contacto .cont-form .mensaje input[type="submit"] {
    width: 150px;
    height: 40px;
    font-size: .9em;
    margin-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  
/************************************ titulo *********************/
  .contenedorContactanos .contacto .cont-contacto {
    display: flex;
    flex-direction: column;
  }
  .contenedorContactanos .contacto .cont-contacto .dudas {
    width: 100%;
  }

/*********************************** contacto *******************/
  .contenedorContactanos .contacto .cont-contacto .formas-contacto {
    width: 100%;
    margin-top: 8%;
    padding: 0px 0px 0px 0px;
    
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-telefono {
    margin-top: 2%;
    margin-left: 22%;
    margin-bottom: 0px;
    display: inline-block;
   
  }
  .contenedorContactanos .contacto .cont-contacto .formas-contacto .cont-email {
    margin-bottom: 0px;
    margin-left: 8%;
    display: inline-block;
  }
  .formas-contacto .redes {
    margin-right: 20px;
    margin-left: 35%;
    margin-top: 6%;
  }
  /**************************************** formulario **************************/
  .contenedorContactanos .contacto .form-contacto .cont-form div>form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .contenedorContactanos .contacto .form-contacto .cont-form .datos {
    width: 100%;
  }
  .contenedorContactanos .contacto .form-contacto .cont-form {
    width: 100%;
    padding: 1px 10px;
    margin-left: 0%;
    border-radius: 40px;
  }
  .form-contacto .cont-form .datos span input {
    width: 95%;
  }
  .contenedorContactanos .contacto .form-contacto .cont-form .mensaje {
    width: 95%;
  }
  .form-contacto .cont-form .mensaje span textarea {
    width: 100%;
  }
  .form-contacto .cont-form .mensaje input[type="submit"] {
    margin-right: 1px;
  }
}