* {
  margin: 0;
  padding: 0;
}
.contenedeorPaginaCarrito {
width: 95%;
height: auto;
margin-left: 3%;
}
.posision_flex{
display: flex;
justify-content: space-between;
}
.contenedeorPaginaCarrito .posision_flex .lateralIzquierda {
  width: 180em;
  height: auto;
  margin-right:4%;
}

.contenedeorPaginaCarrito .posision_flex .lateralDerecha {
  width: 50em;
  padding: 0;
  height: auto;
 
}

/* titulo */

section h1{
text-align: center;
margin-top: 2.5em;
font-size: 3em;
margin-bottom: 3em;
}

/* migajas de pan */
.woocommerce .contenedeorPaginaCarrito .woocommerce-breadcrumb {
position: absolute;
height: auto;
margin-top: -9em;
font-size: 1.8rem;
}

.woocommerce .contenedeorPaginaCarrito .woocommerce-breadcrumb span a{
color: #a5a5a5;
}

/** formulario **/
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table{
border: none;
}

.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table thead tr{

}

/* titulos */
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table thead tr th{
border-bottom: 4px solid #7f8fde;
font-size: 1.5em;
}

/* imagen */
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody .woocommerce-cart-form__cart-item .product-thumbnail{
width: 13em;
}
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody .woocommerce-cart-form__cart-item .product-thumbnail img{
width: 100%;
}

/* boton eliminar */
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody .woocommerce-cart-form__cart-item .product-remove a{
font-size: 2.1em;
border-radius: 100%;
border: 2px solid #a3a3a3;
position: absolute;
margin-left: 10px;
margin-top: -20px;
}

/* nombre articulo precio subtotal*/
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody .woocommerce-cart-form__cart-item .product-name,
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody .woocommerce-cart-form__cart-item .product-price,
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody .woocommerce-cart-form__cart-item .product-subtotal{
font-size: 1.5em;
}

/** input cantidad **/
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody .woocommerce-cart-form__cart-item .product-quantity .quantity .input-text{
height: 3em;
width: 5em;
border-radius: 10px;
border: 1px solid #b5b5b5;
}

/** input cupon */

.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody tr .actions .coupon{
width: 39.13em;
margin-top: 3em;
}
.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody tr .actions .coupon .input-text{
width: 20em;
height: 2.2em;
float: left;
font-size: 1.5em;
border-radius: 10px 0 0 10px;
border: 1px solid #b5b5b5;


}

.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody tr .actions .coupon .button{
  height: 3.2em;
  font-size: 1.1em;
  border-radius: 0 10px 10px 0px;
  border: 1px solid #7f8fde;
  background: #7f8fde;
  color:white;

}

.posision_flex .lateralIzquierda .woocommerce-cart-form .shop_table tbody tr .actions > .button{
height: 3em;
font-size: 1.1em;
border-radius: 10px;
background: #7f8fde;  
margin-top: 3em;
color: white;
}

/**************************************************** lateral derecha total del carrito ***/

.posision_flex .lateralDerecha .cart-collaterals{
width: 23em;
background: #ececec;
border-radius: 10px;
margin-left: 2px;
padding: 2em;
margin-top: 4em;

}

.posision_flex .lateralDerecha .cart-collaterals .cart_totals{
width:100%;
}

/** titulo **/

.posision_flex .lateralDerecha .cart-collaterals .cart_totals h2{
font-size: 2em;
margin-bottom: 5%;
border-bottom: 2px solid #b5b5b5;
}

/** tabla totales **/

.posision_flex .lateralDerecha .cart-collaterals .cart_totals .shop_table{
border: 1px solid #b5b5b5;
font-size: 1.3em;
}

/**  boton compra **/

.posision_flex .lateralDerecha .cart-collaterals .cart_totals .wc-proceed-to-checkout a{
width: 89%;
height: 1.5em;
background: #7dcb61;
text-align: center;
font-size: 1.3em;
border-radius: 25px;
}

/* seccion interes */
.seccion-interes .wps-slider-section{
width: 95%;
margin-left: 3%;
margin-top: 10em;

}
.seccion-interes .wps-slider-section .sp-woo-product-slider-section-title{
width: 100%;
height: 70px;
position: relative;
border-bottom: 5px solid #7f8fde;
}

.seccion-interes .wps-slider-section .slick-arrow {
height: 40px !important;
margin-top: -3rem;
}

.seccion-interes .wps-slider-section .slick-prev i,
.seccion-interes .wps-slider-section .slick-next i {
font-size: 1.5rem;
padding: 0.6rem 0 0 0;
}

.seccion-interes .wps-slider-section .wps-product-section .slick-list .slick-track .slick-slide div .wpsf-product .sp-wps-product-image-area {
width: 21em;;

}
.seccion-interes .wps-slider-section .wps-product-section .slick-list .slick-track .slick-slide div .wpsf-product .sp-wps-product-image-area .wpsf-product-img{
width: 100%;
}