* {
  margin: 0;
  padding: 0;
}

.contenedorConocenos {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10%;
}

.contenedorConocenos .titulo {
  text-align: center;
  font-size: 3em;
  margin: 2% 0% 5% 0%;
  color: #404F9D;
  font-weight: 600;
}

.contenedorConocenos .informacion .imagen {
  width: 100%;
  height: 330px;
}

.contenedorConocenos .informacion .imagen img {
  width: 100%;
  height: 330px;
}

.contenedorConocenos .contenedor-informacion {
  display: flex;
}

.contenedorConocenos .contenedor-informacion .giroEmpresa {
  width: 60%;
  margin-top: 5%;
}

.contenedorConocenos .contenedor-informacion .giroEmpresa .mision,
.contenedorConocenos .contenedor-informacion .giroEmpresa .vision {
  padding: 20px;
}

.contenedorConocenos .contenedor-informacion .giroEmpresa .mision h3,
.contenedorConocenos .contenedor-informacion .giroEmpresa .vision h3 {
  font-size: 2.3em;
  margin-bottom: 5%;
  color: #808080;
  font-weight: 600;
}

.contenedorConocenos .contenedor-informacion .giroEmpresa .mision p,
.contenedorConocenos .contenedor-informacion .giroEmpresa .vision p {
  font-size: 1.7em;
  color: #808080;
  font-weight: 300;
  line-height: 1.8;
}

.contenedorConocenos .contenedor-informacion .logos {
  width: 40%;
  margin-top: 5%;
}

.contenedorConocenos .contenedor-informacion .logos .tamaño {
  width: 70%;
  height: 250px;
  margin: 20% 0 0 18%;

}

.contenedorConocenos .contenedor-informacion .logos .tamaño img {
  width: 100%;
  height: 250;
}

.contenedorConocenos .redes-sociales {
  width: 100%;
  display: flex;
  margin-top: 4%;
  margin-left: 2%;
}

.contenedorConocenos .redes-sociales a {
  margin-right: 0px;
  font-size: 1.5em;
  line-height: 3.5em;
  margin-right: 50px;
  margin-left: 10px;
  text-decoration: none;
  color: #808080;

}

.contenedorConocenos .redes-sociales .facebook-icon::before {
  font-family: "fontawesome";
  content: "\f09a";
  margin-right: 0px;
  font-size: 4em;
  color: #404F9D;
}

.contenedorConocenos .redes-sociales .instagram-icon::before {
  font-family: "fontawesome";
  content: "\f16d";
  margin-right: 0px;
  font-size: 4em;
  color: #404F9D;

}

/************************************************** media querys *************************/
@media screen and (max-width: 1680px) {

  /************************************ titulo *********************/
  .contenedorConocenos .titulo {
    font-size: 2em;
  }

  /************************************ mision vision *********************/

  .contenedorConocenos .contenedor-informacion .giroEmpresa .mision h3,
  .contenedorConocenos .contenedor-informacion .giroEmpresa .vision h3 {
    font-size: 1.7em;
  }

  .contenedorConocenos .contenedor-informacion .giroEmpresa .mision p,
  .contenedorConocenos .contenedor-informacion .giroEmpresa .vision p {
    font-size: 1.3em;
  }

  /************************************ logos *********************/
  .contenedorConocenos .contenedor-informacion .logos .tamaño {
    width: 60%;
  }

  /************************************* social ***********************/
  .contenedorConocenos .redes-sociales {
    margin-top: 2%;
  }

  .contenedorConocenos .redes-sociales a {
    font-size: 1.3em;
    line-height: 3em;
  }

  .contenedorConocenos .redes-sociales .facebook-icon::before {
    font-size: 3.5em;
  }

  .contenedorConocenos .redes-sociales .instagram-icon::before {
    font-size: 3.5em;
    color: #404F9D;
  }
}
@media screen and (max-width: 1440px) {
  /********************************************** titulo **********************/
  .contenedorConocenos .titulo {
    font-size: 1.5em;
  }
  /*********************************************** mision vision *******************/
  .contenedorConocenos .contenedor-informacion .giroEmpresa .mision h3,
  .contenedorConocenos .contenedor-informacion .giroEmpresa .vision h3 {
    font-size: 1.3em;
  }
  .contenedorConocenos .contenedor-informacion .giroEmpresa .mision p, .contenedorConocenos .contenedor-informacion .giroEmpresa .vision p {
    font-size: 1em;
  }
  /********************************************** logos ***********************/
  .contenedorConocenos .contenedor-informacion .logos {
    margin-top: 2%;
  }
  .contenedorConocenos .contenedor-informacion .logos .tamaño {
    width: 60%;
    height: 170px;
    margin: 20% 0 0 18%;
  }

  /******************************************* social ****************************/
  .contenedorConocenos .redes-sociales {
    margin-top: 4%;
  }
  .contenedorConocenos .redes-sociales .facebook-icon::before {
    font-size: 3em;
  }
  .contenedorConocenos .redes-sociales .instagram-icon::before {
    font-size: 3em;
  }
  .contenedorConocenos .redes-sociales a {
    font-size: 1.2em;
    line-height: 2.5em;
  }
}
@media screen and (max-width: 1366px) {}
@media screen and (max-width: 1024px) {
  /************************************************ titulo **********************/
  .contenedorConocenos .titulo {
    font-size: 1.3em;
  }
  /************************************************ imagen **********************/
  .contenedorConocenos .informacion .imagen {
    width: 100%;
    height: 220px;
  }
  
  .contenedorConocenos .informacion .imagen img {
    width: 100%;
    height: 220px;
  }
   /*********************************************** mision vision *******************/
  .contenedorConocenos .contenedor-informacion .giroEmpresa .mision h3,
  .contenedorConocenos .contenedor-informacion .giroEmpresa .vision h3 {
    font-size: 1.1em;
  }
  .contenedorConocenos .contenedor-informacion .giroEmpresa .mision p, .contenedorConocenos .contenedor-informacion .giroEmpresa .vision p {
    font-size: .9em;
  }
  /********************************************** logos ***********************/
  .contenedorConocenos .contenedor-informacion .logos {
    margin-top: 10%;
  }
  .contenedorConocenos .contenedor-informacion .logos .tamaño {
    width: 70%;
    height: 170px;
  }
  /******************************************* social ****************************/

  .contenedorConocenos .redes-sociales .facebook-icon::before {
    font-size: 2.3em;
  }
  .contenedorConocenos .redes-sociales .instagram-icon::before {
    font-size: 2.3em;
  }
  .contenedorConocenos .redes-sociales a {
    font-size: 1em;
    line-height: 2.5em;
  }
}
@media screen and (max-width: 768px) {
  /************************************************ titulo **********************/
  .contenedorConocenos .titulo {
    font-size: 1.1em;
  }
   /************************************************ imagen **********************/
  .contenedorConocenos .informacion .imagen {
    width: 100%;
    height: 180px;
  }
  
  .contenedorConocenos .informacion .imagen img {
    width: 100%;
    height: 180px;
  }
  /************************************************ mision vision ***************/
  .contenedorConocenos .contenedor-informacion {
    flex-direction: column;
  }
  .contenedorConocenos .contenedor-informacion .giroEmpresa {
    width: 100%;
  }

  /********************************************** logos *****************************/
  .contenedorConocenos .contenedor-informacion .logos {
    width: 100%;
    margin-top: 4%;
    margin-left: 3%;
  }

  .contenedorConocenos .contenedor-informacion .logos .tamaño {
    width: 25%;
    height: 0px;
    display: inline-block;
    margin: 0% 0% 0 4%;
  }
  /******************************************* social *************************/
  .contenedorConocenos .redes-sociales {
     display: flex;
     justify-content: center;
    margin-top: 10%;
  }
  .contenedorConocenos .redes-sociales .facebook-icon::before {
    font-size: 2.1em;
  }
  .contenedorConocenos .redes-sociales .instagram-icon::before {
    font-size: 2.1em;
  }
  .contenedorConocenos .redes-sociales a {
    font-size: .8em;
    line-height: 2.8em;
  }
}
