* {
  margin: 0;
  padding: 0;
}

/******************************************** contenedores  ***********************************/
.contenedorCategoriaProductos {
  width: 88%;
  height: auto;
  margin-top: 0%;
  display: flex;
  margin-top: 5%;
  margin-left: 7%;
  justify-content: space-between;
}

.contenedorCategoriaProductos .lateralIzquierda {
  width: 25%;
  height: auto;
}

.contenedorCategoriaProductos .lateralDerecha {
  width: 70%;
  padding: 0 2rem;
  height: auto;
}

/** titulo principal **/

.woocommerce-products-header .woocommerce-products-header__title{
  display: inline; 
  width: 50%;
  /*background: blue;*/
  font-size: 3em;
}

.woocommerce-result-count{
  width: 50%;
  display: inline; 
  float: right;
  margin-top: -25px;
  /*background: orange;*/
  text-align: right;
  font-size: 1.5em;
}

/** form select filtro **/

.woocommerce-ordering{
  width: 100%;
  border-radius: 10px;
  padding: 20px 10px;
  background: #7891e3;
  margin-top: 2em;
  margin-bottom: 2em;
}

.woocommerce-ordering .orderby{
width: 20em;
height: 3em;
border-radius: 50px;
  padding-left: 10px;
  font-size: 1.3em;

}

/************************************************************************************************** productos **/

.contenedorCategoriaProductos .products{
  display: flex;
  /*background: red;*/
  flex-wrap: wrap;
  justify-content: space-between;
 
}
.contenedorCategoriaProductos .products .product{
  width: 20em;
    padding: 1em;
  height: auto;
  text-align: center;
  margin-bottom: 2em;

}
.contenedorCategoriaProductos .products .product:hover{
box-shadow: 0px 0px 3px 3px rgba(189,189,189,0.64);
-webkit-box-shadow: 0px 0px 3px 3px rgba(189,189,189,0.64);
-moz-box-shadow: 0px 0px 3px 3px rgba(189,189,189,0.64);
}
/* imagen */
.contenedorCategoriaProductos .products .product img{
  width: 100%;
  height: auto;
}

/* titulo */
.contenedorCategoriaProductos .products .product .woocommerce-LoopProduct-link .woocommerce-loop-product__title{
  /*background: blue;*/
  width: 100%;
  max-height: 3.5em;
  min-height: 3.5em;
  font-size: 1.5em;
  padding: .3em;
}

/* precio oferta */
.contenedorCategoriaProductos .products .product .woocommerce-LoopProduct-link .price del span{
  /*background: pink;*/
  font-size: 1.3em;
}

/* precio normal */
.contenedorCategoriaProductos .products .product .woocommerce-LoopProduct-link .price ins .woocommerce-Price-amount bdi{
  /*background: green;*/
  font-size: 2em;
}

/* precio general */
.contenedorCategoriaProductos .products .product .woocommerce-LoopProduct-link .price > .woocommerce-Price-amount bdi{
  /*background: brown;*/
  font-size: 2em;

}

/* boton */
.contenedorCategoriaProductos .products .product .add_to_cart_button{
  display: inline-block;
  background: #7dcb61;
  padding: .6em 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50px;
  font-size: 1.5em;
  color: white;
}
.contenedorCategoriaProductos .products .product .add_to_cart_button::before {
  font: var(--fa-font-solid);
  content: "\f07a";
  margin-right: 10px;
  font-size: .8em;

}

/* span oferta */
.contenedorCategoriaProductos .products .product .woocommerce-LoopProduct-link .onsale{
  font-size: 1.5em;
  background: none;
  color: #7dcb61;
  border-bottom: 1px solid #7dcb61;
}

/* paginacion */
.contenedorCategoriaProductos .woocommerce-pagination .page-numbers{
  display: flex;
  justify-content: flex-end;

}

.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .page-numbers{
  width: 1em;
  padding: .5em;
  border-radius: 10px;
  margin-left: .5em;
  font-size: 1.5em;
  border: 1px solid #9c9c9c;
}
.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .page-numbers:hover{
  background: #7f8fde;
  color: white;
  border:none;
}
.contenedorCategoriaProductos .current{
  background: #7f8fde;
  color: white;
  border:none;
}

.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .next,
.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .prev {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border: none;
    top: calc(63.1% - 40px);
    cursor: pointer;
    line-height: 10px;
    opacity: 60%;
    background: none;
    text-shadow: transparent;
    color: transparent;
    text-decoration: none;
    font-size: em;


}
.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .next::before{
  font: var(--fa-font-solid);
  content: "\f0a9";
  margin-right: 0px;
  font-size: 1.8em;
  color: white;
}
.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .prev::before{
  font: var(--fa-font-solid);
  content: "\f0a8";
  margin-right: 0px;
  font-size: 1.8em;
  color: white;
}
.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .next{
  right: 7em;
}
.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .prev{
  left: 71em;

}

.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .next:hover,
.contenedorCategoriaProductos .woocommerce-pagination .page-numbers .prev:hover{
  text-shadow: transparent;
  color: transparent;
  text-decoration: none;
  opacity: 100%;
 



  
}

.contenedorCategoriaProductos .woocommerce-info{
  margin-top: 1em;
  font-size: 2em;
}

/*************************************************************************** paginacion manual *************/
.lateralDerecha .view-pagination{

  display: flex;
  float: right;
  margin-top: -110px;
  margin-right: 102px;
  font-size: 1.4em;
  align-items: center;
  color: white;
  
}
.lateralDerecha .view-pagination span{
   margin: 0px 10px;
}
.lateralDerecha .view-pagination .pagination-current{
  background: white;
  padding: 10px 20px;
  border-radius: 100%;
  color: black;

}

/********************************************* iconos ****************************/
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    font: var(--fa-font-solid);
    content: "\f058";
}